################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/the quantum scheuler V0.0/FileContentIndex/e4ad8cbe-2a7a-4b2b-b460-69109f454d0d.vsidx
